<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title><% oreact.title %></title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<link rel="apple-touch-icon" href="./assets/icons/apple-touch-icon.png">
		<% oreact.headEnd %>
	</head>
	<body>
		<% oreact.bodyEnd %>
	</body>
</html>
